.search{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 1.5rem;

    input{
        border-radius: 10rem 0 0 10rem;
        border: none;
        outline: none;
        height: 3rem;
        width: 20rem;
        background: rgba(182, 182, 182, 0.533);
        padding: 1.2rem;
        font-size: 1.1rem;
        font-weight: 500;
    }
    button{
        color: gray;
        height: 3rem;
        width: 5rem;
        font-size: 1rem;
        border-radius: 0 10rem 10rem 0;
        border: none;
        outline: none;
        background: #e72929;
        color: white;
        opacity: 0.8;
        cursor: pointer;

        &:hover{
            opacity: 1;
        }
    }
}