<header>
    <div class="container">
        <a routerLink="/" class="logo">Food Store</a>
        <nav>
            <ul class="nav-list">
                <li class="list-elements"><a routerLink="/Login">Login</a></li>
                <li class="menu-container">
                    <a routerLink="/dashboard">John</a>
                    <div class="menu">
                        <a routerLink="/Profile">Profile</a>
                        <a routerLink="Order">Order</a>
                        <a>Logout</a>
                    </div>
                </li>
                <li>
                    <a routerLink="/cart-page">
                        cart <span *ngIf="cartQuantity">{{cartQuantity}}</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
